// complications
.complications
  .container
    .row
      .col.col-4
        .complicationCard
          .complicationCard__image
            img(src='img/complications/complication_1.png' srcset='img/complications/complication_1@2x.png 2x')
