// complications
.complications.complications--page
  .container
    .row
      .col.col-4.col-hd-6.col-lg-12
        .complicationCard(data-aos="fade-up")
          .complicationCard__image
            img(src='img/complications/complication_1.png' srcset='img/complications/complication_1@2x.png 2x')
          .complicationCard__title Компенсационный маятник
          .complicationCard__description Маятник, изготовленный из металлов с различными коэффициентами расширения и сохраняющий постоянную длину при изменении температуры.
          .complicationCard__models
            .complicationCard__models-label есть в моделях
            ul.complicationCard__models-list
              li Opus Sonata
              li Laterna 1615

      .col.col-4.col-hd-6.col-lg-12
        .complicationCard(data-aos="fade-up")
          .complicationCard__image
            img(src='img/complications/complication_2.png' srcset='img/complications/complication_2@2x.png 2x')
          .complicationCard__title Вечный календарь
          .complicationCard__description Настольные часы, имеющие функцию вечного календаря, отображают дату в более или менее полном формате: число, месяц, день недели. В часах «вечным» называют такой... <a href="#">подробнее</a>
          .complicationCard__models
            .complicationCard__models-label есть в моделях
            ul.complicationCard__models-list
              li Laterna 1615

      .col.col-4.col-hd-6.col-lg-12
        .complicationCard(data-aos="fade-up")
          .complicationCard__image
            img(src='img/complications/complication_3.png' srcset='img/complications/complication_3@2x.png 2x')
          .complicationCard__title Турбийон
          .complicationCard__description Встраиваемое устройство, частично компенсирующее притяжение Земли и помогающее тем самым увеличить точность хода механических часов.
          .complicationCard__models
            .complicationCard__models-label есть в моделях
            ul.complicationCard__models-list
              li Opus Sonata
              li NT 10

      .col.col-4.col-hd-6.col-lg-12
        .complicationCard(data-aos="fade-up")
          .complicationCard__image
            img(src='img/complications/complication_4.png' srcset='img/complications/complication_4@2x.png 2x')
          .complicationCard__title Скрытый сейф в базе
          .complicationCard__description Хорошее укромное место имеет большее значение, чем условная железная коробка. Хотя привычный сейф тоже справляется со своими обязанностями, но подходит не всем. <a href="#">подробнее</a>
          .complicationCard__models
            .complicationCard__models-label есть в моделях
            ul.complicationCard__models-list
              li Opus Sonata
              li Laterna 1615

      .col.col-4.col-hd-6.col-lg-12
        .complicationCard(data-aos="fade-up")
          .complicationCard__image
            img(src='img/complications/complication_5.png' srcset='img/complications/complication_5@2x.png 2x')
          .complicationCard__title Сканер отпечатков пальцев
          .complicationCard__description Сканер отпечатков пальцев отличается исключительно высокой производительностью и точностью и может успешно захватывать даже пересушенные и влажные пальцы. <a href="#">подробнее</a>
          .complicationCard__models
            .complicationCard__models-label есть в моделях
            ul.complicationCard__models-list
              li Opus Sonata
              li Laterna 1615
              li NT 10

      .col.col-4.col-hd-6.col-lg-12
        .complicationCard(data-aos="fade-up")
          .complicationCard__image
            img(src='img/complications/complication_1.png' srcset='img/complications/complication_1@2x.png 2x')
          .complicationCard__title Компенсационный маятник
          .complicationCard__description Маятник, изготовленный из металлов с различными коэффициентами расширения и сохраняющий постоянную длину при изменении температуры.
          .complicationCard__models
            .complicationCard__models-label есть в моделях
            ul.complicationCard__models-list
              li Opus Sonata
              li Laterna 1615

      .col.col-4.col-hd-6.col-lg-12
        .complicationCard(data-aos="fade-up")
          .complicationCard__image
            img(src='img/complications/complication_2.png' srcset='img/complications/complication_2@2x.png 2x')
          .complicationCard__title Вечный календарь
          .complicationCard__description Настольные часы, имеющие функцию вечного календаря, отображают дату в более или менее полном формате: число, месяц, день недели. В часах «вечным» называют такой... <a href="#">подробнее</a>
          .complicationCard__models
            .complicationCard__models-label есть в моделях
            ul.complicationCard__models-list
              li Laterna 1615

      .col.col-4.col-hd-6.col-lg-12
        .complicationCard(data-aos="fade-up")
          .complicationCard__image
            img(src='img/complications/complication_3.png' srcset='img/complications/complication_3@2x.png 2x')
          .complicationCard__title Турбийон
          .complicationCard__description Встраиваемое устройство, частично компенсирующее притяжение Земли и помогающее тем самым увеличить точность хода механических часов.
          .complicationCard__models
            .complicationCard__models-label есть в моделях
            ul.complicationCard__models-list
              li Opus Sonata
              li NT 10

      .col.col-4.col-hd-6.col-lg-12
        .complicationCard(data-aos="fade-up")
          .complicationCard__image
            img(src='img/complications/complication_4.png' srcset='img/complications/complication_4@2x.png 2x')
          .complicationCard__title Скрытый сейф в базе
          .complicationCard__description Хорошее укромное место имеет большее значение, чем условная железная коробка. Хотя привычный сейф тоже справляется со своими обязанностями, но подходит не всем. <a href="#">подробнее</a>
          .complicationCard__models
            .complicationCard__models-label есть в моделях
            ul.complicationCard__models-list
              li Opus Sonata
              li Laterna 1615

      .col.col-12
        .complications__more.js-complications-more
          +svgMono('refresh')
          span Показать еще
