// complications
.complications.complications--page
  .container
    .row
      .col.col-4.col-hd-6.col-lg-12
        .complicationCard(data-aos="fade-up")
          .complicationCard__image
            img(src='/img/complications/complication_1.png' srcset='img/complications/complication_1@2x.png 2x')
          .complicationCard__title Компенсационный маятник
          .complicationCard__description Маятник, изготовленный из металлов с различными коэффициентами расширения и сохраняющий постоянную длину при изменении температуры.
          .complicationCard__models
            .complicationCard__models-label есть в моделях
            ul.complicationCard__models-list
              li
                a(href="catalog.html") Opus Sonata
              li
                a(href="catalog.html") Laterna 1615

      .col.col-4.col-hd-6.col-lg-12
        .complicationCard.complicationCard--hoverable(data-aos="fade-up")
          .complicationCard__image
            img(src='/img/complications/complication_2.png' srcset='img/complications/complication_2@2x.png 2x')
          .complicationCard__title Вечный календарь
          .complicationCard__description Настольные часы, имеющие функцию вечного календаря, отображают дату в более или менее полном формате: число, месяц, день недели. В часах «вечным» называют такой... <a href="#">подробнее</a>
          .complicationCard__models
            .complicationCard__models-label есть в моделях
            ul.complicationCard__models-list
              li
                a(href="catalog.html") Laterna 1615
          .complicationCard__hoverable
            p Определение истинного и правильного календаря – задача, которую пыталось решить человечество несколько веков. Вся проблема в том, что реальная длина года не является целым числом и составляет 365,2422 дня или 365 дней, 5 часов, 48 минут и 45 секунд.
            p Ещё в 46 году нашей эры знаменитый Гай Юлий Цезарь приказал установить длительность года в 365,25 дней и реализовать это в таком виде – три года 365 дней, четвертый (високосный) год насчитывал 366 дней. Этот календарь назвали Юлианским и он был принят католической церковью в 325 году нашей эры. Но все равно возникала погрешность, потеря 0,0078 части суток каждый год.

      .col.col-4.col-hd-6.col-lg-12
        .complicationCard(data-aos="fade-up")
          .complicationCard__image
            img(src='/img/complications/complication_3.png' srcset='img/complications/complication_3@2x.png 2x')
          .complicationCard__title Турбийон
          .complicationCard__description Встраиваемое устройство, частично компенсирующее притяжение Земли и помогающее тем самым увеличить точность хода механических часов.
          .complicationCard__models
            .complicationCard__models-label есть в моделях
            ul.complicationCard__models-list
              li
                a(href="catalog.html") Opus Sonata
              li
                a(href="catalog.html") NT 10

      .col.col-4.col-hd-6.col-lg-12
        .complicationCard.complicationCard--hoverable(data-aos="fade-up")
          .complicationCard__image
            img(src='/img/complications/complication_4.png' srcset='img/complications/complication_4@2x.png 2x')
          .complicationCard__title Скрытый сейф в базе
          .complicationCard__description Хорошее укромное место имеет большее значение, чем условная железная коробка. Хотя привычный сейф тоже справляется со своими обязанностями, но подходит не всем. <a href="#">подробнее</a>
          .complicationCard__models
            .complicationCard__models-label есть в моделях
            ul.complicationCard__models-list
              li
                a(href="catalog.html") Opus Sonata
              li
                a(href="catalog.html") Laterna 1615
          .complicationCard__hoverable
            p Определение истинного и правильного календаря – задача, которую пыталось решить человечество несколько веков. Вся проблема в том, что реальная длина года не является целым числом и составляет 365,2422 дня или 365 дней, 5 часов, 48 минут и 45 секунд.
            p Ещё в 46 году нашей эры знаменитый Гай Юлий Цезарь приказал установить длительность года в 365,25 дней и реализовать это в таком виде – три года 365 дней, четвертый (високосный) год насчитывал 366 дней. Этот календарь назвали Юлианским и он был принят католической церковью в 325 году нашей эры. Но все равно возникала погрешность, потеря 0,0078 части суток каждый год.

      .col.col-4.col-hd-6.col-lg-12
        .complicationCard.complicationCard--hoverable(data-aos="fade-up")
          .complicationCard__image
            img(src='/img/complications/complication_5.png' srcset='img/complications/complication_5@2x.png 2x')
          .complicationCard__title Сканер отпечатков пальцев
          .complicationCard__description Сканер отпечатков пальцев отличается исключительно высокой производительностью и точностью и может успешно захватывать даже пересушенные и влажные пальцы. <a href="#">подробнее</a>
          .complicationCard__models
            .complicationCard__models-label есть в моделях
            ul.complicationCard__models-list
              li
                a(href="catalog.html") Opus Sonata
              li
                a(href="catalog.html") Laterna 1615
              li
                a(href="catalog.html") NT 10
          .complicationCard__hoverable
            p Определение истинного и правильного календаря – задача, которую пыталось решить человечество несколько веков. Вся проблема в том, что реальная длина года не является целым числом и составляет 365,2422 дня или 365 дней, 5 часов, 48 минут и 45 секунд.
            p Ещё в 46 году нашей эры знаменитый Гай Юлий Цезарь приказал установить длительность года в 365,25 дней и реализовать это в таком виде – три года 365 дней, четвертый (високосный) год насчитывал 366 дней. Этот календарь назвали Юлианским и он был принят католической церковью в 325 году нашей эры. Но все равно возникала погрешность, потеря 0,0078 части суток каждый год.

      .col.col-4.col-hd-6.col-lg-12
        .complicationCard(data-aos="fade-up")
          .complicationCard__image
            img(src='/img/complications/complication_1.png' srcset='img/complications/complication_1@2x.png 2x')
          .complicationCard__title Компенсационный маятник
          .complicationCard__description Маятник, изготовленный из металлов с различными коэффициентами расширения и сохраняющий постоянную длину при изменении температуры.
          .complicationCard__models
            .complicationCard__models-label есть в моделях
            ul.complicationCard__models-list
              li
                a(href="catalog.html") Opus Sonata
              li
                a(href="catalog.html") Laterna 1615

      .col.col-4.col-hd-6.col-lg-12
        .complicationCard.complicationCard--hoverable(data-aos="fade-up")
          .complicationCard__image
            img(src='/img/complications/complication_2.png' srcset='img/complications/complication_2@2x.png 2x')
          .complicationCard__title Вечный календарь
          .complicationCard__description Настольные часы, имеющие функцию вечного календаря, отображают дату в более или менее полном формате: число, месяц, день недели. В часах «вечным» называют такой... <a href="#">подробнее</a>
          .complicationCard__models
            .complicationCard__models-label есть в моделях
            ul.complicationCard__models-list
              li
                a(href="catalog.html") Laterna 1615
          .complicationCard__hoverable
            p Определение истинного и правильного календаря – задача, которую пыталось решить человечество несколько веков. Вся проблема в том, что реальная длина года не является целым числом и составляет 365,2422 дня или 365 дней, 5 часов, 48 минут и 45 секунд.
            p Ещё в 46 году нашей эры знаменитый Гай Юлий Цезарь приказал установить длительность года в 365,25 дней и реализовать это в таком виде – три года 365 дней, четвертый (високосный) год насчитывал 366 дней. Этот календарь назвали Юлианским и он был принят католической церковью в 325 году нашей эры. Но все равно возникала погрешность, потеря 0,0078 части суток каждый год.

      .col.col-4.col-hd-6.col-lg-12
        .complicationCard(data-aos="fade-up")
          .complicationCard__image
            img(src='/img/complications/complication_3.png' srcset='img/complications/complication_3@2x.png 2x')
          .complicationCard__title Турбийон
          .complicationCard__description Встраиваемое устройство, частично компенсирующее притяжение Земли и помогающее тем самым увеличить точность хода механических часов.
          .complicationCard__models
            .complicationCard__models-label есть в моделях
            ul.complicationCard__models-list
              li
                a(href="catalog.html") Opus Sonata
              li
                a(href="catalog.html") NT 10

      .col.col-4.col-hd-6.col-lg-12
        .complicationCard.complicationCard--hoverable(data-aos="fade-up")
          .complicationCard__image
            img(src='/img/complications/complication_4.png' srcset='img/complications/complication_4@2x.png 2x')
          .complicationCard__title Скрытый сейф в базе
          .complicationCard__description Хорошее укромное место имеет большее значение, чем условная железная коробка. Хотя привычный сейф тоже справляется со своими обязанностями, но подходит не всем. <a href="#">подробнее</a>
          .complicationCard__models
            .complicationCard__models-label есть в моделях
            ul.complicationCard__models-list
              li
                a(href="catalog.html") Opus Sonata
              li
                a(href="catalog.html") Laterna 1615
          .complicationCard__hoverable
            p Определение истинного и правильного календаря – задача, которую пыталось решить человечество несколько веков. Вся проблема в том, что реальная длина года не является целым числом и составляет 365,2422 дня или 365 дней, 5 часов, 48 минут и 45 секунд.
            p Ещё в 46 году нашей эры знаменитый Гай Юлий Цезарь приказал установить длительность года в 365,25 дней и реализовать это в таком виде – три года 365 дней, четвертый (високосный) год насчитывал 366 дней. Этот календарь назвали Юлианским и он был принят католической церковью в 325 году нашей эры. Но все равно возникала погрешность, потеря 0,0078 части суток каждый год.

      .col.col-12
        .complications__more.js-complications-more
          +svgMono('refresh')
          span Показать еще
