include _productCard

// featured products
.products
  .container
    .products__grid.row
      .col.col-3
        +productCard({title: 'Laterna 1615', gallery: ['product_1', 'product_3'], brand: 'Erwin Sattler', price: '8 100€' })
      .col.col-3
        +productCard({title: 'NT 10', gallery: ['product_2', 'product_3'], brand: 'Matthias Naeschke', price: '11 600€' })
      .col.col-3
        +productCard({title: 'Opus Sonata', gallery: ['product_3', 'product_5'], brand: 'Erwin Sattler', price: '12 140€' })
      .col.col-3
        +productCard({title: 'Opus Sonata', gallery: ['product_4', 'product_1'], brand: 'Erwin Sattler', price: '25 000€' })

      .col.col-3
        +productCard({title: 'NL125', gallery: ['product_5', 'product_6'], brand: 'Matthias Naeschke', price: '15 140€' })
      .col.col-3
        +productCard({title: 'NT 10', gallery: ['product_6', 'product_4'], brand: 'Erwin Sattler', price: '10 200€' })
      .col.col-3
        +productCard({title: 'Opus Sonata', gallery: ['product_7', 'product_1'], brand: 'Erwin Sattler', price: '12 140€' })
      .col.col-3
        +productCard({title: 'Opus Sonata', gallery: ['product_8', 'product_3'], brand: 'Erwin Sattler', price: '7 400€' })

