mixin productCard(card)
  // productCard
  a(href="#").productCard
    .productCard__title= card.title
    .productCard__gallery.swiper-container.js-swiper-product
      .swiper-wrapper
        each img in card.gallery
          .swiper-slide
            .productCard__image
              img(src='img/products/'+img+'.png' srcset='img/products/'+img+'@2x.png 2x')

      .productCard__gallery-prev.swiper-product-prev
        +svgMono('arrow-left')
      .productCard__gallery-next.swiper-product-next
          +svgMono('arrow-right')

    .productCard__brand= card.brand

    .productCard__price
      span= card.price

    .productCard__availability
      .productCard__availability-wrapper
        +svgMono('checkmark')

    .productCard__hoverable
      .productCard__description постамент из мрамара, запас хода 31 день, родирование корпуса
      .productCard__cta
        .btn.btn-primary.js-link(data-href="product.html")
          span Купить
