// shared modals if any
// i.e. authorization menu from header section

#exampleModal.modal.micromodal-slide(aria-hidden='true')
  .modal__overlay(tabindex='-1' data-micromodal-close)
    .modal__container(role='dialog' aria-modal='true')
      .modal__close(aria-label='Close modal' data-micromodal-close)
        +svgMono('close')
      .modal__header.tac
        .h3-title.h3-title.h3-title-lg.h3-title-sm.modal__title Загрузка документов

// callback modal component
#callbackModal.modal.micromodal-slide(aria-hidden='true')
  .modal__overlay(tabindex='-1' data-micromodal-close)
    .modal__container(role='dialog' aria-modal='true')
      .modal__close(aria-label='Close modal' data-micromodal-close)
        +svgMono('close')

      // modalrequest
      .modalRequest
        // left
        .modalRequest__left
          .modalRequest__product
            .modalRequest__product-title NT 10
            .modalRequest__product-image
              img(src='/img/products/product_2.png' srcset='img/products/product_2@2x.png 2x')
            .modalRequest__product-brand Matthias Naeschke

        // right
        .modalRequest__right
          .modalRequest__title Заполните форму
          .modalRequest__subtitle Наш менеджер свяжется с вами в ближайшее время
          form.modalRequest__form.js-validate-form(action="#" data-success-function="requestSuccess")
            .row
              .col.col-6.col-md-12
                .ui-input
                  +svgColor('person')
                  input(type="text" name="name" placeholder="Ваше имя" required)
              .col.col-6.col-md-12
                .ui-input
                  +svgColor('phone')
                  input.ui-input(type="tel" name="phone" placeholder="Ваш телефон" required)

            .modalRequest__form-cta
              .ui-toggle
                input(id="callback_agree" type="checkbox")
                label(for="callback_agree")
                  span Нажимая на кнопку, вы даете согласие на обработку персональных данных
              button(type="submit").btn.btn-primary.btn--xl
                span Хочу часы

          .modalRequest__call
            .modalRequest__call-background
              img(src='/img/decor/modalRequest_bg.jpg' srcset='img/decor/modalRequest_bg@2x.jpg 2x')
            .modalRequest__call-content
              .modalRequest__call-label Или звоните:
              .modalRequest__call-phones
                a(href="tel:+74954091058") +74954091058
                a(href="tel:+79258144534") +79258144534
                .modalRequest__call-socials
                  a(href="https://t.me/" target="_blank")
                    +svgMono('telegram')
                  a(href="https://viber.com/" target="_blank")
                    +svgMono('viber')

script.
  function requestSuccess(formData){
    MicroModal.close('callbackModal')
    MicroModal.show('successModal')
  }

// suucess modal
#successModal.modal.micromodal-slide(aria-hidden='true')
  .modal__overlay(tabindex='-1' data-micromodal-close)
    .modal__container(role='dialog' aria-modal='true')
      .modal__close(aria-label='Close modal' data-micromodal-close)
        +svgMono('close')

      // modalThanks
      .modalThanks
        .modalThanks__background
          img(src='/img/decor/successModal_bg.jpg' srcset='img/decor/successModal_bg@2x.jpg 2x')
        .modalThanks__content
          .modalThanks__icon
            +svgMono('checkmark')
          .modalThanks__title Спасибо!
          .modalThanks__subtitle Ваша заявка <br/>успешно отправлена


// gallery modal component
#galleryModal.modal.modal--fullheight.micromodal-slide(aria-hidden='true')
  .modal__overlay(tabindex='-1' data-micromodal-close)
    .modal__container(role='dialog' aria-modal='true')
      .modal__close(aria-label='Close modal' data-micromodal-close)
        +svgMono('close')

      // modalGallery
      .modalGallery.js-modal-gallery
        //- .modalGallery__slide
        //-   img(src='/img/gallery/galleryFull_1.jpg')
        //-   .modalGallery__slide-caption Часовой механизм часов Opus Sonata

        //- .modalGallery__thumbs.swiper-container.js-swiper-galleryThumbs
        //-   .swiper-wrapper
        //-     .modalGallery__thumb.is-active
        //-       img(src='/img/gallery/gallery_1.jpg')
