// article page
section.article
  .container
    .article__wrapper.stick-window-right.--keep-container
      // content
      article.article__content
        .article__head(data-aos="fade-right")
          ul.article__breadcrumbs
            li
              a(href="#") Главная
            li
              a(href="#") Каталог

          h1.article__title.h1-title Вечный календарь

        // body
        .article__body.wysiwyg(data-aos="fade")
          mark Определение истинного и правильного календаря – задача, которую пыталось решить человечество несколько веков. Вся проблема в том, что реальная длина года не является целым числом и составляет 365,2422 дня или 365 дней, 5 часов, 48 минут и 45 секунд.

          img(src='img/article/articlePhoto_1.jpg' srcset='img/article/articlePhoto_1@2x.jpg 2x')

          p Ещё в 46 году нашей эры знаменитый Гай Юлий Цезарь приказал установить длительность года в 365,25 дней и реализовать это в таком виде – три года 365 дней, четвертый (високосный) год насчитывал 366 дней. Этот календарь назвали Юлианским и он был принят католической церковью в 325 году нашей эры. Но все равно возникала погрешность, потеря 0,0078 части суток каждый год.
          p Уже в 1582 году Папа Григорий XIII решил исправить этот недочет и сделал следующее новшество – каждый високосный сотый год становится обычным, исключая каждый 400-ый. Этот более сложный вариант был назван Григорианским календарем. И постепенно с 1582 года по 1940 год все страны стали переходить именно на этот календарь.

          blockquote Принцип действия подобных календарей основан на том, что юлианское летоисчисление проходит циклами по 28 лет, а григорианское – по 400. При этом внешне они могут быть совсем непохожими. Календари-таблицы будут иметь сетки, обозначающие дни недели, и матрицу, указывающую на соответствующую сетку для требуемого года.

          h2 Сложный календарь в часах

          p Неравномерность дней в каждом месяце, количества дней в годах, очень сильно озадачила и часовых мастеров, которые пытались создать функцию <strong>«вечного календаря»</strong> в своих механических произведениях искусства. В итоге в часах мы имеем 3 типа календарей:

          ul
            li Quantieme Simple;
            li Quantieme perpetue;
            li «Вечный календарь».

          img(style="float: left" src='img/article/articlePhoto_2.jpg' srcset='img/article/articlePhoto_2@2x.jpg 2x')
          h3 Quantieme Simple
          p Отображает текущую дату, день недели, месяц, а также в некоторых случаях и фазы луны. Эти данные отображаются с помощью дополнительных аналоговых индикаторов или окошек. Если нужно подкорректировать что-либо, то осуществляется это вручную.

          div(style="clear: both")

          h4 Quantieme Perpetual
          p Впервые реализован в карманных часах Абрахамом-Луи Бреге в 1975 году. Учитывает месяцы различной длины и високосные года, эти данные не нужно корректировать вручную.

          img(style="float: right" src='img/article/articlePhoto_3.jpg' srcset='img/article/articlePhoto_3@2x.jpg 2x')
          p <strong>«Вечный календарь»</strong> также учитывает високосный год и разную длину месяцев, отображает фазы луны. Но особенность в том, что он не учитывает что каждый «сотый» год будет обычным, поэтому современные «вечные календари» в наручных часах придется перевести вручную после 28 февраля 2100 года сразу на 1 марта.
          p Но все же, главным фактором в истории разработки функции «вечного календаря» в механических часах является достижение уровня мастерства и реализации технически сложных задач. Каждое такое уникальное изделие может содержать до 650 деталей, поэтому они поистине заслуживают звания произведения искусства.

          blockquote Чаще всего используются 2 вида подобных календарей: табели 1901-2096 гг. и таблицы, исчисляющие даты с 1582 года. Достаточно широко известен табель-календарь аж на 28 веков, определяющий дни недели как по старому, так и новому стилю. Календари-таблицы были достаточно просты для применения и часто печатались в СССР в журналах, книгах, ежедневниках.
          p Сегодня четко планировать время нам помогают компьютеры и мобильные устройства. Однако ценность календаря, который можно осязать и потрогать, не пропала. Сегодня такие конструкции, кроме выполнения своих основных функций, становятся оригинальным украшением рабочего или домашнего интерьера.

          // gallery
          .article__gallery
            .swiper-container.js-swiper-cgallery
              .swiper-wrapper
                .swiper-slide
                  .gallery__image
                    img(src='img/gallery/gallery_1.jpg' srcset='img/gallery/gallery_1@2x.jpg 2x')
                .swiper-slide
                  .gallery__image
                    img(src='img/gallery/gallery_2.jpg' srcset='img/gallery/gallery_2@2x.jpg 2x')
                .swiper-slide
                  .gallery__image
                    img(src='img/gallery/gallery_3.jpg' srcset='img/gallery/gallery_3@2x.jpg 2x')
                .swiper-slide
                  .gallery__image
                    img(src='img/gallery/gallery_2.jpg' srcset='img/gallery/gallery_2@2x.jpg 2x')
                .swiper-slide
                  .gallery__image
                    img(src='img/gallery/gallery_3.jpg' srcset='img/gallery/gallery_3@2x.jpg 2x')
                .swiper-slide
                  .gallery__image
                    img(src='img/gallery/gallery_2.jpg' srcset='img/gallery/gallery_2@2x.jpg 2x')

              .gallery__prev.swiper-cgallery-prev
                +svgMono('arrow-left')
              .gallery__next.swiper-cgallery-next
                +svgMono('arrow-right')

          h3 Таблица
          table.table
            tbody
              tr
                td Корпус
                td черный лак с металлическими вставками
              tr
                td Размер
                td высота: 218 см, ширина: 48 см, (подзаводчик часов: 70 см), глубина: 39 см,
              tr
                td Вес
                td 245 кг
              tr
                td Стекло
                td Минеральное стекло со скошенной кромкой
              tr
                td Механизм
                td Sattler, калибр 2015 г.

          p Сегодня можно купить часы с тремя разными календарями на циферблате. Такие календари выглядят в виде компактных окошек, отображающих месяц, день недели и дату.

          ol
            li <strong>Первый вариант</strong> представляет собой стандартный календарь на 31 день, который через месяц приходится перезавести. Дело в том, что такой модуль не сможет определить, в каком месяце дней будет меньше, поэтому часы нужно корректировать вручную.
            li <strong>Второй вид</strong> часового годичного календаря может без вмешательства работать целый год. Этот модуль умеет распознавать месяцы, в которых 30 или 31 день, но и у него появляется проблема в феврале. Раз в год владелец такого хронометра должен самостоятельно изменить дату.
            li <strong>Третья разновидность</strong> считается верхом совершенства часовых механизмов. В этом случае календарь часов будет безошибочно работать сотню лет. У таких часов не возникают сложности с високосным годом.

      // sidebar
      .article__sidebar
        .article__sidebar-more
          .article__sidebar-label Еще усложнения
            +svgMono('arrow-down-long')
          .article__sidebar-list
            li
              a(href="#")
                .article__sidebar-image
                  img(src='img/complications/complication_1.png' srcset='img/complications/complication_1@2x.png 2x')
                span Компенсационный маятник
            li
              a(href="#")
                .article__sidebar-image
                  img(src='img/complications/complication_2.png' srcset='img/complications/complication_2@2x.png 2x')
                span Вечный календарь
            li
              a(href="#")
                .article__sidebar-image
                  img(src='img/complications/complication_3.png' srcset='img/complications/complication_3@2x.png 2x')
                span Турбийон
            li
              a(href="#")
                .article__sidebar-image
                  img(src='img/complications/complication_4.png' srcset='img/complications/complication_4@2x.png 2x')
                span Скрытый сейф в базе
