// brands
.brands
  .container
    .brands__wrapper.stick-window-right.--keep-container
      .row
        .col.col-4.col-hd-6.col-lg-12
          .brands__card.brandCard(data-aos="fade-up")
            .brandCard__logo.--sinclair-harding
              img(src='img/brands/Sinclair_Harding.png' srcset='img/brands/Sinclair_Harding@2x.png 2x')
            a(href="catalog.html").brandCard__name Robert Bray - Sinclair Harding
            .brandCard__description Основанная в 1967 году, Синлер Хардинг чтит исторические традиции высокого английского часового искусства. Эта уникальная компания, выпускающая красивые часы ручной работы, воплощает в себе идеалы часовой индустрии - точность, качество и совершенство.
        .col.col-4.col-hd-6.col-lg-12
          .brands__card.brandCard(data-aos="fade-up")
            .brandCard__logo.--matthias-naeschke
              img(src='img/brands/Matthias_Naeschke.png' srcset='img/brands/Matthias_Naeschke@2x.png 2x')
            a(href="catalog.html").brandCard__name Matthias Naeschke
            .brandCard__description С 1984 года мануфактура производит высококачественные напольные часы, настольные часы, регуляторы, и, что является уникальным во всем мире, часы для органа. Сила компании, богатой традициями, заключается в точности исполнения и воплощении новых идей в классическом часовом деле.
        .col.col-4.col-hd-6.col-lg-12
          .brands__card.brandCard(data-aos="fade-up")
            .brandCard__logo.--erwin-sattler
              img(src='img/brands/Erwin_Sattler.png' srcset='img/brands/Erwin_Sattler@2x.png 2x')
            a(href="catalog.html").brandCard__name Erwin Sattler
            .brandCard__description С 1958 года производитель часов Erwin Sattler превратил свое ремесло в искусство, имеющее вневременную ценность. Основанная в Грефельфинге недалеко от Мюнхена, компания создает хронометры в соответствии с требованиями «Сделано в Германии», которые переживают поколения.
