---
title: Главная
---
extends shared/_layout
block content

  include ../components/heroSlider/_heroSlider.pug
  include ../components/brands/_brands.pug
  include ../components/products/_featured.pug
  include ../components/contact/_showroom.pug
  include ../components/about/_about.pug
