---
title: Продукт
---
extends shared/_layout
block content

  include ../components/product/_hero.pug
  include ../components/complications/_product.pug
  include ../components/product/_specs.pug
  include ../components/product/_media.pug
  include ../components/product/_gallery.pug
  include ../components/product/_progress.pug
  include ../components/products/_similar.pug
