// stickySocials
.stickySocials
  .stickySocials__wrapper
    a(href='#' target="_blank").stickySocials__link
      +svgMono('instagram')
      span instagram
    a(href='#' target="_blank").stickySocials__link
      +svgMono('youtube')
      span youtube
    a(href='#' target="_blank").stickySocials__link
      +svgMono('facebook')
      span facebook
