// extended (hidden) gallery
.gallery-container.js-gallery(data-gallery-id="product-ext")
  .gallery__image(data-gallery="https://farm4.staticflickr.com/3894/15008518202_c265dfa55f_h.jpg" data-caption="Часовой механизм часов Opus Sonata 1")
    img(src='img/gallery/gallery_3.jpg' srcset='img/gallery/gallery_3@2x.jpg 2x')
  .gallery__image(data-gallery="https://farm4.staticflickr.com/3920/15008465772_d50c8f0531_h.jpg" data-caption="Часовой механизм часов Opus Sonata 2")
    img(src='img/gallery/gallery_2.jpg' srcset='img/gallery/gallery_2@2x.jpg 2x')
  .gallery__image(data-gallery="https://farm4.staticflickr.com/3902/14985871946_24f47d4b53_h.jpg" data-caption="Часовой механизм часов Opus Sonata 3")
    img(src='img/gallery/gallery_1.jpg' srcset='img/gallery/gallery_1@2x.jpg 2x')
  .gallery__image(data-gallery="https://farm4.staticflickr.com/3920/15008465772_d50c8f0531_h.jpg" data-caption="Часовой механизм часов Opus Sonata 4")
    img(src='img/gallery/gallery_2.jpg' srcset='img/gallery/gallery_2@2x.jpg 2x')
  .gallery__image(data-gallery="https://farm4.staticflickr.com/3894/15008518202_c265dfa55f_h.jpg" data-caption="Часовой механизм часов Opus Sonata 5")
    img(src='img/gallery/gallery_3.jpg' srcset='img/gallery/gallery_3@2x.jpg 2x')
  .gallery__image(data-gallery="https://farm4.staticflickr.com/3920/15008465772_d50c8f0531_h.jpg" data-caption="Часовой механизм часов Opus Sonata 6")
    img(src='img/gallery/gallery_2.jpg' srcset='img/gallery/gallery_2@2x.jpg 2x')
  .gallery__image(data-gallery="https://farm4.staticflickr.com/3902/14985871946_24f47d4b53_h.jpg" data-caption="Часовой механизм часов Opus Sonata 7")
    img(src='img/gallery/gallery_1.jpg' srcset='img/gallery/gallery_1@2x.jpg 2x')
  .gallery__image(data-gallery="https://farm4.staticflickr.com/3920/15008465772_d50c8f0531_h.jpg" data-caption="Часовой механизм часов Opus Sonata 8")
    img(src='img/gallery/gallery_2.jpg' srcset='img/gallery/gallery_2@2x.jpg 2x')
