// extended (hidden) gallery
.gallery-container.js-gallery(data-gallery-id="product-ext")
  .gallery__image(data-gallery="/img/uploads/AdobeStock_86282149_stand_neu_3.jpg" data-caption="Часы Erwin Sattler")
    img(src='/img/uploads/AdobeStock_86282149_stand_neu_3.jpg')
  .gallery__image(data-gallery="/img/uploads/AperiaS70.jpg" data-caption="Общий план часов ")
    img(src='/img/uploads/AperiaS70.jpg')
  .gallery__image(data-gallery="/img/uploads/AperiaS70_Ambiente.jpg" data-caption="Продвинутые подвесные механизмы")
    img(src='/img/uploads/AperiaS70_Ambiente.jpg')
  .gallery__image(data-gallery="/img/uploads/AperiS70Zifferblatt.png" data-caption="Ручная сборка часовых механизмов")
    img(src='/img/uploads/AperiS70Zifferblatt.png')
  .gallery__image(data-gallery="/img/uploads/ClassicaP70M_Pärchen.png" data-caption="Лучшее украшение вашего уюта")
    img(src='/img/uploads/ClassicaP70M_Pärchen.png')
  .gallery__image(data-gallery="/img/uploads/Columna_Uhrwerk_4c.jpg" data-caption="Часовой механизм часов Opus")
    img(src='/img/uploads/Columna_Uhrwerk_4c.jpg')
  .gallery__image(data-gallery="https://farm4.staticflickr.com/3902/14985871946_24f47d4b53_h.jpg" data-caption="тестовое изображение")
    img(src='https://farm4.staticflickr.com/3902/14985871946_24f47d4b53_h.jpg')
  .gallery__image(data-gallery="https://farm4.staticflickr.com/3920/15008465772_d50c8f0531_h.jpg" data-caption="тестовое изображение")
    img(src='https://farm4.staticflickr.com/3920/15008465772_d50c8f0531_h.jpg')
