
// product gallery
.productGallery
  .container
    .productGallery__title.h3-title Фотографии товара
    .productGallery__wrapper.stick-window-right
      .swiper-container.js-swiper-cgallery
        .swiper-wrapper
          .swiper-slide
            .gallery__image
              img(src='img/gallery/gallery_1.jpg' srcset='img/gallery/gallery_1@2x.jpg 2x')
          .swiper-slide
            .gallery__image
              img(src='img/gallery/gallery_2.jpg' srcset='img/gallery/gallery_2@2x.jpg 2x')
          .swiper-slide
            .gallery__image
              img(src='img/gallery/gallery_3.jpg' srcset='img/gallery/gallery_3@2x.jpg 2x')
          .swiper-slide
            .gallery__image
              img(src='img/gallery/gallery_2.jpg' srcset='img/gallery/gallery_2@2x.jpg 2x')
          .swiper-slide
            .gallery__image
              img(src='img/gallery/gallery_3.jpg' srcset='img/gallery/gallery_3@2x.jpg 2x')
          .swiper-slide
            .gallery__image
              img(src='img/gallery/gallery_2.jpg' srcset='img/gallery/gallery_2@2x.jpg 2x')


        .gallery__prev.swiper-cgallery-prev
          +svgMono('arrow-left')
        .gallery__next.swiper-cgallery-next
          +svgMono('arrow-right')
