// productHero
.productHero
  .container
    .productHero__wrapper.stick-window-right.--keep-container
      .productHero__content

      .productHero__image
        .productHero__image-container
          img(src='img/product/heroImage.png' srcset='img/product/heroImage@2x.png 2x')

      .productHero__decor
        img(src='img/decor/productHero_decor.svg')
