// productHero
.productHero
  .container
    .productHero__wrapper.stick-window-right.--keep-container
      // content
      .productHero__content
        .productHero__head(data-aos="fade-right")
          ul.productHero__breadcrumbs
            li
              a(href="#") Главная
            li
              a(href="#") Каталог
          h1.productHero__title Opus Sonata
          .productHero__head-sub
            .productHero__brand Erwin Sattler
            .productHero__availability
              +svgMono('checkmark')
              span В наличии
            .productHero__photos-link.js-trigger-gallery(data-gallery-id="product") смотреть реальные фото

        .productHero__image-mobile(data-teleport-target="productHeroImage")

        .productHero__actions(data-aos="fade-up")
          .productHero__price
            span 1 000 000<i class="rub">v</i>
            span 12 140€
          .productHero__cta
            .btn.btn-primary.btn--xl(data-micromodal-trigger="callbackModal")
              span Купить эти часы

        .productHero__features(data-aos="fade-up")
          .row
            .col.col-6.col-md-12
              ul.productHero__features-list
                li постамент из мрамара
                li запас хода 31 день
                li родирование корпуса
            .col.col-6.col-md-12
              ul.productHero__features-list
                li скрытый сейф в базе, сканер отпечатков пальцев
                li варианты держателей часов для ремешка разной длины

      // image
      .productHero__image.js-teleport(data-aos="fade-left" data-teleport-to="productHeroImage" data-teleport-condition="<1200")
        .productHero__image-more.js-trigger-gallery(data-gallery-id="product")
          +svgMono('camera')
          span 12

        .productHero__image-container
          img(src='img/product/heroImage.png' srcset='img/product/heroImage@2x.png 2x')

      .productHero__decor(data-aos="fade")
        img(src='img/decor/productHero_decor.svg')
