// product media
.productMedia
  .container
    .productMedia__wrapper.stick-window-right.--keep-container
      // gallery
      .productMedia__gallery
        .productMedia__video.video
          .video__placeholder
            img(src='img/product/videoPlaceholder.jpg' srcset='img/product/videoPlaceholder@2x.jpg 2x')
          .video__details
            .video__play
              +svgMono('play')
            .video__title Видеообзор часов <br/>Opus Sonata
            .video__time 2 минуты

        .productMedia__thumbs

      // links
      .productMedia__links
        a(href="#").productMedia__link
          .productMedia__link-icon
            +svgColor('file-document')
          span.productMedia__link-name Инструкция.pdf
          span.productMedia__link-meta 12мб
        a(href="#").productMedia__link
          .productMedia__link-icon
            +svgColor('file-sound')
          span.productMedia__link-name Звук.mp3
          span.productMedia__link-meta 1мб
        a(href="#").productMedia__link
          .productMedia__link-icon
            +svgColor('file-video')
          span.productMedia__link-name Видеообзор.mpeg
          span.productMedia__link-meta 311мб
