// product media
.productMedia
  .container
    .productMedia__wrapper.stick-window-right.--keep-container
      // gallery
      .productMedia__gallery.swiper-container.js-swiper-videos(data-aos="fade")
        .swiper-wrapper
          .productMedia__video.swiper-slide.is-active(data-id="1")
            .video.js-video
              .video__content
                div(data-youtube-video="GgAOoWGIwX0" id="player-1")
                //- video(controls="controls" loop muted)
                //-   source(src="video/video.ogv" type='video/ogg; codecs="theora, vorbis"')
                //-   source(src="video/video.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
                //-   source(src="video/video.webm" type='video/webm; codecs="vp8, vorbis"')
              .video__placeholder
                img(src='img/product/videoPlaceholder.jpg' srcset='img/product/videoPlaceholder@2x.jpg 2x')
              .video__details
                .video__play
                  +svgMono('play')
                .video__title Видеообзор часов <br/>Opus Sonata
                .video__time 2 минуты

          .productMedia__video.swiper-slide(data-id="2")
            .video.js-video
              .video__content
                video(controls="controls" loop muted)
                  source(src="video/video.ogv" type='video/ogg; codecs="theora, vorbis"')
                  source(src="video/video.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
                  source(src="video/video.webm" type='video/webm; codecs="vp8, vorbis"')
              .video__placeholder
                img(src='img/product/videoPlaceholder.jpg' srcset='img/product/videoPlaceholder@2x.jpg 2x')
              .video__details
                .video__play
                  +svgMono('play')
                .video__title 2 Видеообзор часов <br/>Opus Sonata
                .video__time 2 минуты

          .productMedia__video.swiper-slide(data-id="3")
            .video.js-video
              .video__content
                div(data-youtube-video="GgAOoWGIwX0" id="player-2")
                //- video(controls="controls" loop muted)
                //-   source(src="video/video.ogv" type='video/ogg; codecs="theora, vorbis"')
                //-   source(src="video/video.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
                //-   source(src="video/video.webm" type='video/webm; codecs="vp8, vorbis"')
              .video__placeholder
                img(src='img/product/videoPlaceholder.jpg' srcset='img/product/videoPlaceholder@2x.jpg 2x')
              .video__details
                .video__play
                  +svgMono('play')
                .video__title 3 Видеообзор часов <br/>Opus Sonata
                .video__time 2 минуты

        .swiper-bullets.swiper-videos-pagination

        // thumbs
        .productMedia__thumbs
          .productMedia__thumb.js-productMedia-thumb.is-active(data-id="1")
            .productMedia__thumb-image
              img(src='img/product/videoPlaceholder.jpg' srcset='img/product/videoPlaceholder@2x.jpg 2x')
            .productMedia__thumb-play
              +svgMono('play')
          .productMedia__thumb.js-productMedia-thumb(data-id="2")
            .productMedia__thumb-image
              img(src='img/product/videoPlaceholder.jpg' srcset='img/product/videoPlaceholder@2x.jpg 2x')
            .productMedia__thumb-play
              +svgMono('play')
          .productMedia__thumb.js-productMedia-thumb(data-id="3")
            .productMedia__thumb-image
              img(src='img/product/videoPlaceholder.jpg' srcset='img/product/videoPlaceholder@2x.jpg 2x')
            .productMedia__thumb-play
              +svgMono('play')

      // links
      .productMedia__links(data-aos="fade-left")
        a(href="#").productMedia__link
          .productMedia__link-icon
            +svgColor('file-document')
          span.productMedia__link-name Инструкция.pdf
          span.productMedia__link-meta 12мб
        a(href="#").productMedia__link
          .productMedia__link-icon
            +svgColor('file-sound')
          span.productMedia__link-name Звук.mp3
          span.productMedia__link-meta 1мб
        a(href="#").productMedia__link
          .productMedia__link-icon
            +svgColor('file-video')
          span.productMedia__link-name Видеообзор.mpeg
          span.productMedia__link-meta 311мб
