// productProgress
.productProgress(data-aos="fade-up")
  .productProgress__wrapper
    .container
      .productProgress__title Как происходит оформление&nbsp;заказа
      .productProgress__toggle.js-productProgressToggle
        span под заказ
        .productProgress__toggle-icon
        span в наличии

    .productProgress__grid.swiper-container.js-swiper-progress(style="display: block" data-id="1")
      .swiper-wrapper
        .swiper-slide.productProgress__col
          // progressCard
          .progressCard
            .progressCard__number 01
            .progressCard__icon
              +svgColor('pay-per-click')
            .progressCard__name Вы подаете заявку через сайт, или звоните по нашим телефонам

        .swiper-slide.productProgress__col
          // progressCard
          .progressCard
            .progressCard__number 02
            .progressCard__icon
              +svgColor('chat')
            .progressCard__name Обговариваем условия заказа - утверждаем сроки поставки, особенности механизма, отделки

        .swiper-slide.productProgress__col
          // progressCard
          .progressCard
            .progressCard__number 03
            .progressCard__icon
              +svgColor('prepay-click')
            .progressCard__name Вносите предоплату 70%-30%

        .swiper-slide.productProgress__col
          // progressCard
          .progressCard
            .progressCard__number 04
            .progressCard__icon
              +svgColor('warehouse')
            .progressCard__name Часы поступают на наш склад в Москве

        .swiper-slide.productProgress__col
          // progressCard
          .progressCard
            .progressCard__number 05
            .progressCard__icon
              +svgColor('clock-active')
            .progressCard__name Мы доставляем, устанавливаем и рассказываем как пользоваться

    .productProgress__grid.swiper-container.js-swiper-progress(data-id="2")
      .swiper-wrapper
        .swiper-slide.productProgress__col.productProgress__col--wide
          // progressCard
          .progressCard
            .progressCard__number 01
            .progressCard__icon
              +svgColor('pay-per-click')
            .progressCard__name Свяжитесь с нами или приезжайте в демонстрационный зал, чтобы обсудить все детали, посмотреть часы и внести оплату

        .swiper-slide.productProgress__col.productProgress__col--wide
          // progressCard
          .progressCard
            .progressCard__number 02
            .progressCard__icon
              +svgColor('chat')
            .progressCard__name Доставляем и устанавливаем бесплатно по желанию заказчика
