// product specs
.productSpecs
  .container
    .productSpecs__wrapper
      .productSpecs__title.h3-title Характеристики

      .productSpecs__table.stick-window-right.--keep-container
        .productSpecs__row
          .productSpecs__left
            .productSpecs__label
              +svgColor('diamond')
              span Корпус
          ul.productSpecs__content.productSpecs__content--collumned
            li черный лак с металлическими вставками
            li требуется настенный монтаж на высоте циферблата
            li черный лак с кассетой из макассара и металлическими вставками
            li дверь с магнитным замком

        .productSpecs__row
          .productSpecs__left
            .productSpecs__label
              +svgColor('diamond')
              span Размер
          ul.productSpecs__content
            li высота: 218 см, ширина: 48 см, (подзаводчик часов: 70 см), глубина: 39 см,

        .productSpecs__row
          .productSpecs__left
            .productSpecs__label
              +svgColor('diamond')
              span Вес
          ul.productSpecs__content
            li 245 кг

        .productSpecs__row
          .productSpecs__left
            .productSpecs__label
              +svgColor('diamond')
              span Стекло
          ul.productSpecs__content
            li Минеральное стекло со скошенной кромкой

        .productSpecs__row
          .productSpecs__left
            .productSpecs__label
              +svgColor('diamond')
              span Механизм
          ul.productSpecs__content
            li Sattler, калибр 2015 г.

        .productSpecs__row
          .productSpecs__left
            .productSpecs__label
              +svgColor('diamond')
              span Запас хода
          ul.productSpecs__content
            li 30 дней

        .productSpecs__row
          .productSpecs__left
            .productSpecs__label
              +svgColor('diamond')
              span Ходовая часть
          ul.productSpecs__content
            li вес 4500 г со шкивом с шарикомподшипники, весовая ударная передача 5000 г со шкивом с шарикоподшипниками


