// contact
.contact
  position: relative
  overflow: hidden
  &__wrapper
    position: relative
  &__map
    position: relative
    z-index: 1
    display: flex
    flex-direction: column
    font-size: 0
    .js-gmap
      height: 800px
      background: $borderColor
      flex: 1 0 auto

  &__details
    position: absolute
    z-index: 2
    width: 100%
    max-width: 390px
    right: 0
    top: 50px
    bottom: 50px
    display: flex
    flex-direction: column

  &__content
    position: absolute
    z-index: 2
    left: -70px
    bottom: 70px
    right: 0
    display: flex

  &__ribbon
    position: relative
    flex: 0 0 650px
    max-width: 650px
    padding: 50px 90px 47px
    color: white
    &::before, &::after
      display: inline-block
      content: ' '
      position: absolute
    &::before
      z-index: 2
      top: 0
      right: 0
      bottom: 0
      left: 20%
      background: $colorPrimary
      border-right: 20px solid $colorPrimaryHover
      transform: skew(10deg)
    &::after
      z-index: 2
      background: $colorPrimary
      left: 0
      top: 0
      bottom: 0
      width: 50%
  &__ribbon-wrapper
    position: relative
    z-index: 3
  &__ribbon-title
    font-size: 46px
    line-height: 1
  &__ribbon-location
    margin-top: 20px
    display: flex
    align-items: center
    .ico
      font-size: 19px
    span
      display: inline-block
      margin-left: 12px
      font-weight: 300
      font-size: 24px
      line-height: (35 / 24)
  &__ribbon-contacts
    margin-top: 15px
    margin-left: -10px
    display: flex
    align-items: center
    > a
      display: inline-block
      padding: 5px 10px
      font-size: 26px
      line-height: (38 / 26)
      margin-right: 10px
      transition: color .25s $ease
      &:last-child
        margin-right: 0
      &:hover
        color: rgba(white, .7)
  &__ribbon-socials
    flex: 0 0 auto
    display: flex
    align-items: center
    a
      display: inline-block
      padding: 5px 5px
      font-size: 0
      color: white
      transition: color .25s $ease
      .ico-mono-telegram
        font-size: 20px
      .ico-mono-viber
        font-size: 25px
      &:hover
        color: rgba(white, .7)

  &__gallery
    position: relative
    margin-left: 100px
    width: calc(100% - 650px)
    flex: 0 0 calc(100% - 650px)
    padding-left: 20px
    .swiper-bullets
      display: none
    .swiper-slide
      flex: 0 0 400px
      width: 400px
      height: 260px
      display: flex
      flex-direction: column
  &__image
    text-align: center
    font-size: 0
    background: linear-gradient(201.37deg, #FBFBFB -19.99%, #F7F7F7 44.27%, #F6F6F6 85.94%)
    transition: background .25s $ease
    img
      max-width: 100%
      mix-blend-mode: darken

+r($hd)
  .contact
    &__content
      position: static
      margin-top: -210px
      display: block
    &__map
      .js-gmap
        height: 700px
    &__ribbon
      padding-left: 70px
    &__gallery
      padding-left: 0
      margin-left: 0
      margin-top: 50px
      width: 100%

+r($lg)
  .contact
    &__map
      .js-gmap
        margin-left: -30px

    &__details
      margin-top: -218px
      max-width: 100%
      position: static

+r($md)
  .contact
    &__map
      .js-gmap
        margin-left: -20px
    &__content
      margin-left: -20px
    &__ribbon
      padding-left: 20px
      max-width: 100%
      &::before
        transform: none
        border-right-width: 10px

+r($sm)
  .contact
    &__details
      margin-top: -132px

    &__content
      margin-top: -40px
    &__map
      .js-gmap
        height: 400px
    &__ribbon
      padding: 30px 30px 30px 20px
    &__ribbon-title
      font-size: 24px
    &__ribbon-location
      margin-top: 10px
      .ico
        font-size: 16px
      span
        font-size: 20px
        margin-left: 10px
    &__ribbon-contacts
      flex-wrap: wrap
      margin-top: 10px
      margin-left: -8px
      > a
        font-size: 20px
        padding: 2px 8px
        margin-right: 0
    &__ribbon-socials
      a
        .ico-mono-telegram
          font-size: 17px
        .ico-mono-viber
          font-size: 20px
    &__gallery
      margin-top: 0
      .swiper-slide
        flex-basis: 100%
        width: 100%
        height: auto
      .gallery__image
        padding-bottom: 65%
      .gallery__prev, .gallery__next
        display: none
      .swiper-bullets
        display: flex
        padding-top: 14px

// contactPage
.contactPage
  margin-bottom: 80px
  overflow: visible

+r($lg)
  .contactPage

+r($md)
  .contactPage
    .js-gmap
      height: 600px

+r($sm)
  .contactPage
    margin-bottom: 40px
    .js-gmap
      height: 400px

// contactDetails
.contactDetails
  flex: 1 0 auto
  background: #FFFFFF
  box-shadow: 0px 22px 24px rgba(79, 72, 74, 0.2)
  &__tab-nav
    color: white
    margin: 0
    padding: 0
    background: $colorPrimaryHover
    li
      width: 100%
      min-width: 1px
      flex: 0 0 50%
      max-width: 50%
      font-size: 28px
      line-height: (40 / 28)
      color: rgba(white, .5)
      padding: 14px
      text-align: center
      cursor: pointer
      transition: background .25s $ease, color .25s $ease
      &.is-active
        background: $colorPrimary
        color: white
      &:hover
        color: white
  &__tab
    display: none

  &__address
    position: relative
    background: $colorPrimary
    color: white
    border-bottom: 16px solid $colorPrimaryHover
    padding: 22px 60px 40px

  &__address-label
    font-weight: 300
    font-size: 20px
    line-height: (29 / 20)
  &__address-name
    margin-top: 8px
    font-size: 24px
    line-height: (35 / 24)

  &__decor
    position: absolute
    right: 25px
    bottom: -57px
    font-size: 0
    .ico
      font-size: 82px

  &__content
    padding: 46px 60px 20px
  &__label
    flex: 0 0 100%
    margin-bottom: 10px
    font-weight: 300
    font-size: 20px
    line-height: (29 / 20)
  &__phones
    display: flex
    flex-wrap: wrap
    > a
      display: inline-block
      font-size: 30px
      line-height: (43 / 30)
      transition: color .25s $ease
      &:hover
        color: $colorPrimary
      & + a
        margin-top: 4px
  &__messengers
    flex: 0 0 auto
    margin: 0px -8px -8px
    display: flex
    align-items: center
    a
      display: inline-block
      padding: 8px
      transition: color .25s $ease
      font-size: 0
      color: rgba($fontColor, .2)
      .ico-mono-telegram
        font-size: 24px
      .ico-mono-viber
        font-size: 29px
      &:hover
        color: $colorPrimary

  &__emails
    margin-top: 28px
    a
      display: inline-block
      font-size: 24px
      line-height: (35 / 24)
      transition: color .25s $ease
      &:hover
        color: $colorPrimary
      & + a
        margin-top: 4px
  &__socials
    display: flex
    align-items: center
    justify-content: space-between
    padding: 24px 10px 0
    margin: 40px -30px 0
    border-top: 1px solid $borderColor
    a
      display: flex
      flex-direction: column
      align-items: center
      padding: 5px
      font-size: 0
      transition: color .25s $ease
      span
        margin-top: 8px
        font-weight: 300
        font-size: 20px
        line-height: (29 / 20)
      &:hover
        color: $colorPrimary
  &__social-icon
    min-height: 30px
    display: flex
    align-items: center
    .ico
      font-size: 30px
      &-color-social-facebook-shadow
        font-size: 30px
      &-color-social-youtube-shadow
        font-size: 21px
      &-color-social-instagram-shadow
        font-size: 30px

+r($lg)
  .contactDetails
    // box-shadow: none
    &__phones
      > a
        margin-right: 30px
        & + a
          margin-top: 0px
          margin-right: 14px
    &__messengers
      margin-top: -6px
    &__socials
      padding-left: 80px
      padding-right: 80px

+r($sm)
  .contactDetails
    &__tab-nav
      li
        font-size: 20px
        padding: 11px
    &__address
      padding: 16px 20px 18px
      border-bottom-width: 10px
    &__address-label
      font-size: 16px
    &__address-name
      margin-top: 4px
      font-size: 20px
    &__decor
      right: 20px
      bottom: -33px
      .ico
        font-size: 47px
    &__content
      padding: 20px 20px 20px
    &__label
      font-size: 16px
      margin-bottom: 6px
    &__phones
      > a
        font-size: 24px
    &__messengers
      a
        padding: 4px
        .ico-mono-telegram
          font-size: 15px
        .ico-mono-viber
          font-size: 19px
    &__emails
      margin-top: 14px
      a
        font-size: 20px
    &__socials
      margin: 20px 0 0
      padding: 15px 0 0
      a
        span
          font-size: 16px
    &__social-icon
      min-height: 24px
      .ico
        font-size: 24px
        &-color-social-facebook-shadow
          font-size: 24px
        &-color-social-youtube-shadow
          font-size: 17px
        &-color-social-instagram-shadow
          font-size: 24px

