// contact
.contact
  .container
    .contact__wrapper.stick-window-right
      .contact__map
        .js-gmap(data-center="55.721504,37.612838" data-zoom="16")
          .js-gmap-markers
            i(data-marker="55.723004,37.612838" data-marker-caption="Офис в Москве")

      // content
      .contact__content
        // ribbon
        .contact__ribbon(data-aos="fade")
          .contact__ribbon-wrapper
            .contact__ribbon-title Шоурум в Москве
            .contact__ribbon-location
              +svgColor('location-white')
              span Шаболовка д.23
            .contact__ribbon-contacts
              a(href="tel:+74954091058") +74954091058
              a(href="tel:+79258144534") +79258144534
              .contact__ribbon-socials
                a(href="https://t.me/" target="_blank")
                  +svgMono('telegram')
                a(href="https://viber.com/" target="_blank")
                  +svgMono('viber')

        // gallery
        .contact__gallery(data-aos="fade")
          .swiper-container.js-swiper-cgallery(data-space-between="20")
            .swiper-wrapper.js-gallery
              .swiper-slide
                .gallery__image(data-gallery="/img/gallery/galleryFull_1.jpg" data-size="1820x940" data-caption="Часовой механизм часов Opus Sonata")
                  img(src='/img/gallery/gallery_1.jpg' srcset='img/gallery/gallery_1@2x.jpg 2x')
              .swiper-slide
                .gallery__image(data-gallery="https://farm4.staticflickr.com/3920/15008465772_d50c8f0531_h.jpg" data-size="1600x1066" data-caption="Часовой механизм часов Opus Sonata 2")
                  img(src='/img/gallery/gallery_2.jpg' srcset='img/gallery/gallery_2@2x.jpg 2x')
              .swiper-slide
                .gallery__image(data-gallery="https://farm4.staticflickr.com/3894/15008518202_c265dfa55f_h.jpg" data-size="1600 x1600" data-caption="Часовой механизм часов Opus Sonata 3")
                  img(src='/img/gallery/gallery_3.jpg' srcset='img/gallery/gallery_3@2x.jpg 2x')
              .swiper-slide
                .gallery__image(data-gallery="https://farm4.staticflickr.com/3920/15008465772_d50c8f0531_h.jpg" data-size="1600x1066" data-caption="Часовой механизм часов Opus Sonata 4")
                  img(src='/img/gallery/gallery_2.jpg' srcset='img/gallery/gallery_2@2x.jpg 2x')

            .gallery__prev.swiper-cgallery-prev
              +svgMono('arrow-left')
            .gallery__next.swiper-cgallery-next
              +svgMono('arrow-right')
            .swiper-bullets.swiper-cgallery-pagination
