// HEADER :: START
header.header
  .container
    .header__top
      a(href="homepage.html").header__logo
        +svgColor('logo')
        span Произведения <br/>часового искусства

      a(href="#").header__location
        +svgColor('location')
        span.header__location-link Москва, Шаболовка д.23

      .header__contacts
        .header__phones
          a(href="tel:+74954091058") +74954091058
          a(href="tel:+79258144534") +79258144534
        .header__socials
          a(href="https://t.me/" target="_blank")
            +svgMono('telegram')
          a(href="https://viber.com/" target="_blank")
            +svgMono('viber')

    .header__bottom.js-stick-to-window(data-position="right" data-keep-container="true")
      .header__hamburger
        .hamburger.js-hamburger
          span.hamburger__bar
          span.hamburger__bar
        .header__hamburger-text Каталог

      ul.header__menu
        li
          a(href="#") Типы часов
        li
          a(href="complications.html") Усложнения
        li
          a(href="#") Для партнёров
        li
          a(href="contacts.html") Контакты

      .header__stock
        +svgMono('checkmark')
        span В наличии


// MOBILE NAVI
.mobile-navi
  .mobile-navi__wrapper

