// HEADER :: START
header.header
  .container
    .header__top
      a(href="homepage.html").header__logo
        +svgColor('logo')
        span Произведения <br/>часового искусства

      a(href="#").header__location
        +svgColor('location')
        span.header__location-link Москва, Шаболовка д.23

      .header__contacts.js-teleport(data-teleport-to="headerContacts" data-teleport-condition="<1440")
        .header__phones
          a(href="tel:+74954091058") +74954091058
          a(href="tel:+79258144534") +79258144534
        .header__socials
          a(href="https://t.me/" target="_blank")
            +svgMono('telegram')
          a(href="https://viber.com/" target="_blank")
            +svgMono('viber')

      .header__hamburger-mobile.js-hamburger
        .hamburger
          span.hamburger__bar
          span.hamburger__bar

    .header__bottom.stick-window-right.--keep-container
      .header__hamburger.js-hamburger
        .hamburger
          span.hamburger__bar
          span.hamburger__bar
        .header__hamburger-text
          span.hd-hidden Каталог
          span.hd-visible Меню

      .header__contacts-mobile(data-teleport-target="headerContacts")

      ul.header__menu
        li
          a(href="#") Типы часов
        li
          a(href="complications.html") Усложнения
        li
          a(href="#") Для партнёров
        li
          a(href="contacts.html") Контакты

      .header__stock
        +svgMono('checkmark')
        span В наличии


// NAVI
.navi
  .navi__wrapper
    .container
      .navi__grid
        .navi__col-main
          .row
            .col.col-4
              a(href="#").navi__brand
                .navi__brand-logo.--sinclair-harding
                  img(src='img/brands/Sinclair_Harding.png' srcset='img/brands/Sinclair_Harding@2x.png 2x')
                .navi__brand-name Erwin Sattler <span>(Германия)</span>
            .col.col-4
              a(href="#").navi__brand
                .navi__brand-logo.--matthias-naeschke
                  img(src='img/brands/Matthias_Naeschke.png' srcset='img/brands/Matthias_Naeschke@2x.png 2x')
                .navi__brand-name Matthias Naeschke <span>(Германия)</span>
            .col.col-4
              a(href="#").navi__brand
                .navi__brand-logo.--erwin-sattler
                  img(src='img/brands/Erwin_Sattler.png' srcset='img/brands/Erwin_Sattler@2x.png 2x')
                .navi__brand-name Bray ~ Harding <span>(Великобритания)</span>

          .navi__menu
            .row
              .col.col-4
                a(href="#") Напольные
              .col.col-4
                a(href="#") Настенные
              .col.col-4
                a(href="#") Настольные

        .navi__col-alt
          a(href="#" data-micromodal-trigger="callbackModal").navi__question
            +svgColor('question-mark')
            span Задать вопрос


#callbackModal.modal.micromodal-slide(aria-hidden='true')
  .modal__overlay(tabindex='-1' data-micromodal-close)
    .modal__container(role='dialog' aria-modal='true')
      .modal__close(aria-label='Close modal' data-micromodal-close)
        +svgMono('close')
      .modal__header.tac
        .h3-title.h3-title.h3-title-lg.h3-title-sm.modal__title Задать вопрос
