// FOOTER :: START
footer.footer(data-aos="fade")
  .container
    .footer__wrapper.stick-window-right.--keep-container
      .row
        .col.col-3.col-xl-12.col-md-12
          .footer__logo
            +svgColor('logo')
            span Произведения <br/>часового искусства

        .col.col-3.col-xl-4.col-md-12
          .footer__menu
            .footer__menu-title Бренды
            ul.footer__menu-list
              li
                a(href="#") Erwin Sattler <span>(Германия)</span>
              li
                a(href="#") Matthias Naeschke <span>(Германия)</span>
              li
                a(href="#") Bray ~ Harding <span>(Великобритания)</span>

        .col.col-3.col-xl-4.col-md-12
          .footer__menu
            .footer__menu-title Типы часов
            ul.footer__menu-list
              li
                a(href="#") Напольные
              li
                a(href="#") Настенные
              li
                a(href="#") Настольные

        .col.col-3.col-xl-4.col-md-12
          .footer__menu
            .footer__menu-title Клиентам
            ul.footer__menu-list
              li
                a(href="#") Усложнения
              li
                a(href="#") Для партнёров
              li
                a(href="#") Контакты

    .footer__bottom.stick-window-right.--keep-container
      .footer__copy ©2021 Все права защищены. Информация на сайте не является публичной офертой.
      .footer__socials
        a(href='#' target="_blank").footer__social-link
          +svgMono('facebook')
          span facebook
        a(href='#' target="_blank").footer__social-link
          +svgMono('youtube')
          span youtube
        a(href='#' target="_blank").footer__social-link
          +svgMono('instagram')
          span instagram



// FOOTER :: END
