.ico-color-clock-active {
  width: 0.75em;
  height: 1em;
}
.ico-color-clock {
  width: 0.75em;
  height: 1em;
}
.ico-color-diamond {
  width: 0.87em;
  height: 1em;
}
.ico-color-hands-active {
  width: 1.2em;
  height: 1em;
}
.ico-color-hands {
  width: 1.2em;
  height: 1em;
}
.ico-color-location-white {
  width: 1.16em;
  height: 1em;
}
.ico-color-location {
  width: 1.14em;
  height: 1em;
}
.ico-color-logo {
  width: 1.83em;
  height: 1em;
}
.ico-color-people-active {
  width: 1em;
  height: 1em;
}
.ico-color-people {
  width: 1em;
  height: 1em;
}
.ico-color-photos-active {
  width: 1.02em;
  height: 1em;
}
.ico-color-photos {
  width: 1.02em;
  height: 1em;
}
.ico-color-question-mark {
  width: 1.08em;
  height: 1em;
}
