.ico-color-chat {
  width: 1em;
  height: 1em;
}
.ico-color-clock-active {
  width: 0.75em;
  height: 1em;
}
.ico-color-clock {
  width: 0.75em;
  height: 1em;
}
.ico-color-diamond {
  width: 0.86em;
  height: 1em;
}
.ico-color-file-document {
  width: 1em;
  height: 1em;
}
.ico-color-file-sound {
  width: 1em;
  height: 1em;
}
.ico-color-file-video {
  width: 1em;
  height: 1em;
}
.ico-color-hands-active {
  width: 1.2em;
  height: 1em;
}
.ico-color-hands {
  width: 1.2em;
  height: 1em;
}
.ico-color-location-white {
  width: 1.16em;
  height: 1em;
}
.ico-color-location {
  width: 1.14em;
  height: 1em;
}
.ico-color-logo {
  width: 1.83em;
  height: 1em;
}
.ico-color-pay-per-click {
  width: 1em;
  height: 1em;
}
.ico-color-people-active {
  width: 1em;
  height: 1em;
}
.ico-color-people {
  width: 1em;
  height: 1em;
}
.ico-color-photos-active {
  width: 1.02em;
  height: 1em;
}
.ico-color-photos {
  width: 1.02em;
  height: 1em;
}
.ico-color-prepay-click {
  width: 0.92em;
  height: 1em;
}
.ico-color-progressCard_separator {
  width: 11.63em;
  height: 1em;
}
.ico-color-question-mark {
  width: 1.08em;
  height: 1em;
}
.ico-color-social-facebook-shadow {
  width: 0.5em;
  height: 1em;
}
.ico-color-social-instagram-shadow {
  width: 1em;
  height: 1em;
}
.ico-color-social-youtube-shadow {
  width: 1.43em;
  height: 1em;
}
.ico-color-warehouse {
  width: 1.2em;
  height: 1em;
}
