.ico-mono-arrow-fat {
  width: 0.62em;
  height: 1em;
  fill: #E76060;
}
.ico-mono-arrow-left {
  width: 1.33em;
  height: 1em;
  fill: #fff;
}
.ico-mono-arrow-right {
  width: 1.33em;
  height: 1em;
  fill: #fff;
}
.ico-mono-calendar {
  width: 1.1em;
  height: 1em;
  fill: #E76060;
}
.ico-mono-caret {
  width: 1.75em;
  height: 1em;
  fill: #000;
}
.ico-mono-checkmark {
  width: 1.33em;
  height: 1em;
  fill: initial;
}
.ico-mono-close {
  width: 1em;
  height: 1em;
  fill: #E76060;
}
.ico-mono-email {
  width: 1.4em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-facebook {
  width: 0.5em;
  height: 1em;
  fill: #010002;
}
.ico-mono-instagram {
  width: 1em;
  height: 1em;
  fill: #000;
}
.ico-mono-telegram {
  width: 1.2em;
  height: 1em;
  fill: #010002;
}
.ico-mono-viber {
  width: 0.88em;
  height: 1em;
  fill: #000;
}
.ico-mono-youtube {
  width: 1.43em;
  height: 1em;
  fill: #000;
}
